registry=https://registry.npmjs.org/
@ersona:registry=https://ersona-448866508458.d.codeartifact.eu-north-1.amazonaws.com/npm/ersona-npm-repo/
//ersona-448866508458.d.codeartifact.eu-north-1.amazonaws.com/npm/ersona-npm-repo/:always-auth=true
